*.pyc
*~

doc/_generated/
otfmi.egg-info/
build/
dist/

otfmi/example/*.txt

otfmi/example/file/initialization_script/bil100_combined.mos
otfmi/example/file/initialization_script/bil100_minimal.mos
otfmi/example/file/initialization_script/debug.mos
otfmi/example/file/initialization_script/debug_deviation.mos
otfmi/example/status
otfmi/example/success
test/deviationpoutre_log.txt
test/deviationl_log.txt
test/epid_log.txt
test/epid_result.txt
tmp.org