*.pyc
*~
*.mat

doc/_generated/
doc/auto_*
doc/*.txt
doc/*.mos
doc/example/*.mos
doc/use_case/*.mos
doc/*/*.mat
otfmi.egg-info/
build/
dist/

otfmi/example/*.txt

otfmi/example/file/initialization_script/bil100_combined.mos
otfmi/example/file/initialization_script/bil100_minimal.mos
otfmi/example/file/initialization_script/debug.mos
otfmi/example/file/initialization_script/debug_deviation.mos
otfmi/example/status
otfmi/example/success
test/deviationpoutre_log.txt
tmp.org