setuptools ==80.9.*
ipython ==9.6.*
jupyter ==1.1.*
notebook ==7.4.*
openturns ==1.26
otrobopt ==0.17
otmorris ==0.19
numpy ==2.3.*
scipy ==1.16.*
pandas ==2.3.*
openpyxl ==3.1.*
matplotlib ==3.10.*
joblib ==1.5.*
seaborn ==0.13.*
pyagrum ==2.2.*
dask ==2025.10.*
asyncssh ==2.21.*
tqdm ==4.67.*