name: Build
on: [push, pull_request]
jobs:
  conda-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          conda-remove-defaults: "true"
      - name: Build
        run: |
          conda install -y openturns "python=3.12"
          python -c "import openturns; print(42)"
